.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__content {
  flex: 1;
  padding: 1rem;
}

@media (min-width: 768px) {
  .layout__content {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .layout__content {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
  }
}
